h2 Add New Request

form(method="post", id="request-model-form")
  p
    label Name
    input(type="text", name="request[name]", value=request.name)
    - if (request.errors.name)
      p.error= request.errors.name
  p
    label Subject
    input(type="text", name="request[subject]", value=request.subject)
    - if (request.errors.subject)
      p.error= request.errors.subject

  p
    label Message
    textarea(name="request[message]", value=request.message)
    - if (request.errors.message)
      p.error= request.errors.message

  p
    label Donors
    select(multiple="multiple", size="2", name="request[donors]")
      - for donor in donors
        - var included = false;
        - request.donors.forEach(function(mydonor){ if (mydonor == String(donor._id))  included = true; })
            option(value=donor._id, selected=included) 
              span.name= donor.name
  p
    label Groups
    select(multiple="multiple", name="request[groups]")
      - for grp in groups
        - var included = false;
        - request.groups.forEach(function(mygrp){ if (mygrp == String(grp._id))  included = true; })
            option(value=grp._id, selected=included) 
              span.name= grp.name


  p.buttons
    input(type="submit", value="Save",  name="action")
    input(type="submit", value="Send",name="action")

