h2.title= request.name
ul.details
  li
    .name Subject
    .value= request.subject
  li
    .name Message
    .value= request.message
  li
    .name Donors
    ul
      - for donor in request.donors
        li= donor.name
  li
    .name Groups
    ul
      - for group in request.groups
        li= group.name