h2.title= request.name
.submenu
  ul
    li.edit
      a(href="/requests/" + request._id + "/edit") Edit
    li.remove
      a.confirm(href="/requests/" + request._id + "/remove") Remove

p
  label Subject
  span=request.subject

p
  label Subject
  span=request.subject

p
  label Message
  span.message=request.message

- if(request.donors.length > 0) 
  p
    label Donors
    ul
      - for donor in request.donors
        li
          a(href="/donors/" + donor._id)= donor.name

- if(request.groups.length > 0) 
  p
    label Groups
    ul
      - for group in request.groups
        li
          a(href="/groups/" + group._id)= group.name
