h2.title=donor.name
.submenu
  ul
    li.edit
      a(href="/donors/" + donor._id + "/edit") Edit
    li.remove
      a.confirm(href="/donors/" + donor._id + "/delete") Remove

.details
  .row
    label E-Mail
    span=donor.email
  .row
    label Birthday
    - if(donor.birthday != null)
      - var year = donor.birthday.getYear()
      span=donor.birthday.getMonth() + "/" + donor.birthday.getDay() + "/" + ((year <1000) ? year + 1900 : year);
  .row
    label Street
    span=donor.street
  .row
    label Town
    span=donor.town
  .row
    label Zip-Code
    span=donor.zipcode
  .row
    label Country
    span=donor.country
  .row
    label Personal Interests
    span=donor.personalInterests
  .row
    label Phone
    span=donor.telephone
  .row
    label Website
    span=donor.website
  
#postsMenu!= partial('posts/_form', {post:{}})
#posts!= partial('posts/post', communicationLog)
