h2 Create new group
form(method="post", id="group-model-form")
  p
    label Name
    input(type="text", name="group[name]", value=group.name)
    - if (group.errors.name)
      p.error= group.errors.name
  p
    label Description
    input(type="text", name="group[description]", value=group.description)
    - if (group.errors.description)
      p.error= group.errors.description
  p
    label Donors
    select(multiple="multiple", name="group[donors]")
      - for donor in donors
        - var has = false
        - for groupDonor in group.donors
          - if (String(groupDonor._id) == String(donor._id))
            - has = true
        - if (has)
          option(value=donor._id, selected="selected")= donor.name
        else
          option(value=donor._id)= donor.name
    - if (group.errors.donors)
      p.error= group.errors.donors
  p.buttons
    - if (group.isNew)
      input(type="submit", value="Save")
    - else
      input(type="submit", value="Update")
