h2.title= group.name
.submenu
  ul
    li.edit
      a(href="/groups/edit/" + group._id) Edit
    li.remove
      a.confirm(href="/groups/remove/" + group._id) Remove
p
  label Description
  span=group.description
p
  label Owner
  - if (group.user)
    span=group.user.name
  
h3 Donors
table.display!= partial('donors/donor', group.donors)

.clear

#postsMenu!= partial('posts/_form', {post:{}})  
#posts!= partial('posts/post', group.communicationLog)
