
h2 Create a new Reminder

p
  label Name
  input(type="text", name="reminder[name]", value=reminder.name)
p 
  label Attach to
  select(name="reminder[person]", value=reminder.person)
    - for donor in donors
      option(value=donor._id) 
        span.name= donor.name
        span.company= donor.company

p
  label Date
  input(type="text", name="reminder[description]", value=reminder.description)
                  
p
  label Remarks
  textarea(name="reminder[description]", value=reminder.description)
      