- if(typeof donor !== "undefined")
  - var url = "/donors/" + donor._id + "/addPost"
- else if(typeof group !== "undefined")
  - var url = "/groups/" + group._id + "/addPost"

#addPost
  ul
    li.add
      a.unHide(href="postForm") Add Conversation Log

  form(method="post", id="donor-model-form", action=url)
    #postForm
      p
        label Subject
        input(type="text", name="post[subject]", value=post.subject)

      p
        label Date
          - if(post.date != null)
            - var year = post.date.getYear()
            - var date = post.date.getMonth() + "/" + post.date.getDay() + "/" + ((year <1000) ? year + 1900 : year);
          - else
            - var date = ""
        input(type="text", name="post[date]", value=date, id="datepicker")
      p
        label Medium
          select(name="post[medium]", value=post.medium)
            option(value="E-Mail") E-Mail
            option(value="Letter") Letter
            option(value="Phone Call") Phone Call
            option(value="Conversation") Conversation
            option(value="Other") Other
      p
        label Message
        textarea(name="post[message]", value=post.message)

      p.buttons
        input(type="submit", value="Save")
